<h2 style="text-align: center;">Collect API data</h2>


<!-- <ul>
    <li *ngFor="let item of data$ |async">
        {{item.id}}
    </li>
</ul> -->

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Last_Name</th>
            <th>First_Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Is_Admin</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{data$.id}}</td>

        </tr>
    </tbody>
</table>