

 <nav class="">
	<a routerLink="/" >Home</a>
	<a routerLink="/login" >login</a>
	<a routerLink="/register" >register</a>
	<a routerLink="/kalandar" >Kalandar</a>
</nav>
<router-outlet></router-outlet>
<!-- <ngb-accordion #acc="ngbAccordion">
	<ngb-panel id="toggle-1" title="First panel">
		<ng-template ngbPanelContent>
			<a href="">link</a>
		</ng-template>
	</ngb-panel>
	<ngb-panel id="toggle-2" title="Second">
		<ng-template ngbPanelContent>
			asd
		</ng-template>
	</ngb-panel>
</ngb-accordion> -->
<app-form></app-form>



